<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>{% block title %}data.socceroutsider.com{% endblock %} - An Internet</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="A place to put unreliable data." />

  <link rel="stylesheet" type="text/css" href="http://media.socceroutsider.com/css/style.css" />

  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">google.load("jquery", "1.3.2");</script>

  {% block extraheader %}
  {% endblock %}
</head>


<body class="home">
  <div class="container">
      <h1>data.socceroutsider.com</h1>
  </div>

  {% block content %}
  {% endblock content %}

</body>
