{% extends "base.html" %}

{% block content %}

<table>

  <tr>
      <th>coll</th>
      <th>#</th>
  </tr>

  <tr>
    <td>stadiums</td>
    <td></td>
  </tr>

  <tr>
    <td>bios</td>
    <td></td>
  </tr>

  <tr>
    <td>teams</td>
    <td></td>
  </tr>
  <tr>
    <td>positions</td>
    <td></td>
  </tr>

  <tr>
    <td>drafts</td>
    <td></td>
  </tr>

</table>

{% macro scraper_table(header, data) %}
<tr>
  <td>{{ header }}</td>
  {% for coll, datum in data %}
  <td><a href="/d?c={{ coll }}">{{ datum }}</a></td>
  {% endfor %}
</tr>
{%- endmacro %}

<table>
  <tr>
    <th></th>
    <th>games</th>
    <th>goals</th>
    <th>fouls</th>
    <th>lineups</th>
    <th>stats</th>
    <th>standings</th>
    <th>bios</th>
    <th>positions</th>
    <th>drafts</th>
    <th>awards</th>
  </tr>
  
{% for name, data in data %}
  {{ scraper_table(name, data) }}
{% endfor %}

</table>


{% endblock %}
