{% extends "base.html" %}

{% block content %}

{% macro scraper_table(header, data) %}
<tr>
  <td>{{ header }}</td>
  {% for coll, datum in data %}
  <td><a href="/d?c={{ coll }}">{{ datum }}</a></td>
  {% endfor %}
</tr>
{%- endmacro %}


<table>
  <tr>
    <th></th>
    <th>games</th>
    <th>goals</th>
    <th>stats</th>
    <th>lineups</th>
    <th>standings</th>
    <th>bios</th>
    <th>teams</th>
  </tr>

  {{ scraper_table('main', main) }}
  {{ scraper_table('yaml', yaml_data) }}
  {{ scraper_table('MLSsoccer.com', mlssoccer_data) }}
  {{ scraper_table('soccernet', soccernet_data) }}
  {{ scraper_table('uslsoccer', uslsoccer_data) }}
  {{ scraper_table('scaryice', scaryice_data) }}
  {{ scraper_table('chris', chris_data) }}
  {{ scraper_table('mediotiempo', mediotiempo_data) }}
  {{ scraper_table('fifa', fifa_data) }}
  {{ scraper_table('wiki', wiki_data) }}
  {{ scraper_table('cnnsi', cnnsi_data) }}
  {{ scraper_table('fbleague', fbleague_data) }}
  {{ scraper_table('eufootball', eufootball_data) }}


</table>
{% endblock %}
